@use "../utils/index" as ut;

.slider {
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: relative;
  /*  top:15px; */
  background-color: ut.$color-1;
  margin: 0 0 20px 0;
  mask-image: linear-gradient(to right, transparent, #000 5% 95%, transparent);

  .list {
    display: flex;
    width: 100%;
    min-width: calc(100px * 10);

    .item {
      width: 100px;
      height: 50px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 100%;
      animation: autoRun 10s linear infinite;
      transition: filter 0.5s;
      animation-delay: calc((10s / 10) * (var(--position) - 1)) !important;

      img {
        height: 35px;
        justify-content: center;
      }
    }
  }
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(100px * -1);
  }
}
