@use "../utils/index" as ut;

.grid{
  display:grid;
}

.grid-item{
  width:90vw;
  background-size: cover;
  object-fit: cover;
  margin:auto;
  background-attachment: fixed;
  background-position: center;
}
