@use "../utils/index" as ut;

.section__title {
  text-align: center;
  font-size: clamp(2.813rem, 4.373vw + 1.651rem, 3.75rem);
  margin-bottom: map-get(ut.$sizing, "3xl");
  background-image: linear-gradient(ut.$btn-1, white);
  color: transparent;
  background-clip: text;
  margin: 20px 20px;

  &::after {
    content: attr(data-heading);
    display: block;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    color: #ddd;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;

}
